CarbonKnown.FileWatcherService/FileWatcherConfigDesign.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:CarbonKnown.FileWatcherService" elementFormDefault="qualified" targetNamespace="urn:CarbonKnown.FileWatcherService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="fileWatcherConfigSection" type="tns:CarbonKnown.FileWatcherService.FileWatcherConfigSectionCT" />
	<xs:complexType name="CarbonKnown.FileWatcherService.FileWatcherConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="fileHandlers" type="tns:CarbonKnown.FileWatcherService.HandlerCollectionCT">
				<xs:annotation>
					<xs:documentation>The FileHandlers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="handlerGroups" type="tns:CarbonKnown.FileWatcherService.HandlerGroupCollectionCT">
				<xs:annotation>
					<xs:documentation>The HandlerGroups.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="groupInstances" type="tns:CarbonKnown.FileWatcherService.GroupInstanceCollectionCT">
				<xs:annotation>
					<xs:documentation>The GroupInstances.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CarbonKnown.FileWatcherService.HandlerCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="handlerCollection" type="tns:CarbonKnown.FileWatcherService.HandlerElementCT">
				<xs:annotation>
					<xs:documentation>The HandlerElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CarbonKnown.FileWatcherService.HandlerElementCT">
		<xs:attribute name="folder" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Folder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="handlerName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The HandlerName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CarbonKnown.FileWatcherService.HandlerGroupCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="handler" type="tns:CarbonKnown.FileWatcherService.GroupElementCT">
				<xs:annotation>
					<xs:documentation>The GroupElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CarbonKnown.FileWatcherService.GroupElementCT">
		<xs:attribute name="handlerName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The HandlerName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="relativeFolder" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RelativeFolder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CarbonKnown.FileWatcherService.GroupInstanceCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="groupInstance" type="tns:CarbonKnown.FileWatcherService.GroupInstanceCT">
				<xs:annotation>
					<xs:documentation>The GroupInstance Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CarbonKnown.FileWatcherService.GroupInstanceCT">
		<xs:attribute name="baseFolder" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BaseFolder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="groupName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The GroupName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CarbonKnown.FileWatcherService.HandlerGroupCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="handlerGroup" type="tns:CarbonKnown.FileWatcherService.HandlerGroupCT">
				<xs:annotation>
					<xs:documentation>A collection of GroupElement instances.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
